
@model LoginModel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-4" style="display: block;">
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="@Model.RememberMe">
                            <input asp-for="@Model.RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a  asp-controller="Login" asp-action="ForgotPassword" id="forgot-password">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-controller="Register" asp-action="User">Register as a new user</a>
                        <a asp-controller="Register" asp-action="Supplier">Or Register as a new Supplier</a>
                    </p>
                </div>
            </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
